.intro-2 {
  background: url("resources/css/img/hero-min.jpg")no-repeat center center;
  background-size: cover;
}

.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
  .navbar {
      background-color: #4285F4;
  }
}
html,
body,
header,
.view {
  height: 100%;
}

.nav-link{
  border-bottom: 1px solid rgba(255, 145, 0);
  border-bottom-left-radius: 5px;
  margin-right: 10px;
}

.hr-dark {
  border-top: 2px solid rgb(255, 145, 0);
  width: 120px;
}

.fas,
.far {
  color:  rgba(255, 145, 0, 0.61) ;
  font-size: 70px;
  margin-bottom: 20px;
}

.col{
  margin-right: 40px;
}

/* html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

h1 {
  letter-spacing: 8px;
  margin-top: 100px;
}


.nav-link{
    border-bottom: 1px solid rgba(255, 176, 4, 0.767);
    border-bottom-left-radius: 10px;

}

.features{
} */